
#container  {
	width: 1050px;
/*	border:1px solid grey;  */
	margin:	0 auto;
    


}

	#header {
		height:250px;
        width:1300px;
        background-image:url("cottage3.jpg");
        background-repeat:no-repeat;
        color: white;
        font-size: 36px;
		padding: 10px 0;
        
	}

	

h1 a{
	font-size: 50px;
	font-weight: 100;
	color: white;
	text-decoration:none;

}


.ul{
    
    color:white;
}


	
		
		


.text{
	float: left;
	width:230px;
	padding: 5px;
	font-size:15px;
	color: #E36A0C;
	background:white url(magnifying.jpg)right center no-repeat;

}

.submit{
	float:right;
	padding: 5px;
	font-weight:bold;
	color: white;
	background: #A75106;
	font-size: 15px;
	border: 1px solid #DCD5E1;
}

.clear{
	clear: both;
	
}

#menu{
	height:70px;
	background: linear-gradient(#F8F594, #D5D533);
	padding: 7px 0;
}

ul{
	list-style:none;
}

#menu ul li{
	float: left;
	padding: 0 10px;
}

menu ul li{
		float:left;
		padding: 0 30px;
		height: 30px;
		border-right: 1px solid #5d12e7;
}

menu ul li a{
	text-decoration:none;
	text-transform: uppercase;
	font-size: 30px;
	color: white;
	line-height: 30px;
	-webkit-transition: font-size 0.3s ease;
	-moz-transition: font-size 0.3s ease;
	-o-transition: font-size 0.3s ease;
	-ms-transition: font-size 0.3s ease;
}

#menu ul li a:hover{
	font-size: 20px;
	font-weight: bold;
	color: #B314DB;
}

#menu ul li a:hover, #menu ul li a.active{
	font-size:20px;
	font-weight: bold;
	color: yellow;
}	

#introduction{
	background: linear-gradient(#E5F2BB, #B7E952);
    width:1200px;
	padding: 30px;
	margin: 16px 0;
}

#introduction h3{
	font-size: 45px;
	color: #316901;
	font-weight: normal;
}

#introduction p{
	font-size: 25px;
	color: green;
	text-align:justify;
}


.sidebar{
	height:2600px;
	width:1200px;
    font-size:30px;
    color: white;
    border:1px solid #BAF46F;
	border-radius: 20px;
	padding: 10px 30px;
	
	}
	
	.sidebar h3{
		color: white;
		font-size:45px;
	}
	
#leftsidebar ul{
    color :white;
	padding-top:8px;
}
	
#leftsidebar ul li p{
    font-size: 45px;
    color: white;
	padding-bottom: 4px 0 4px ;
}


}
	
.sidebar ul li a{
	text-decoration: none;
	font-size:45px;
	color:white;
	-webkit-transition: font-size 0.3s ease;
	-moz-transition: font-size 0.3s ease;
	-o-transition: font-size 0.3s ease;
	-ms-transition: font-size 0.3s ease;
}

.sidebar ul li a:hover, .sidebar ul li a.active{
	text-decoration: none;
	color: white;
	font-size:45px;
}

#leftsidebar{
    background: linear-gradient(#0176D6, #02ADFF);
    font-size:45px;
    color:white;
	float:left;
}




	
